h1 {
    font-size: 62pt;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 1.5%;
    margin-bottom: 2%;
    color: rgb(121, 121, 121);
    border-bottom: 4px;
    border-bottom-style: solid;
    border-color: rgb(247, 243, 36);
}

.portfolioImage:hover {
    opacity: 0.85;
    border-width: 1pt;
    border-color: rgb(247, 243, 36);
    border-style: solid;
}